/********
 * Votre CSS
 ********/

/**********
*Liste de polices:

font-family: 'Major Mono Display', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Yeseva One', cursive;
font-family: 'Galada', cursive;
***********************/

html,
body {
    height: 100%;
    margin: auto 0;
    background-color: #E7E8EA;
    font-family: 'Istok Web', sans-serif;
    font-size: 95%;
}

main {
    max-width: 100%;

}

a {
    text-decoration: none;
}

i {
    color: white;
}

li {
    list-style: none;
}

.column--center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row--center {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Header */

header {
    display: grid;
    grid-column: 1fr 2fr 1fr;
    grid-template-areas: "logo . menu";
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #F8EEE2;
    overflow: hidden;
    max-width: 100%;

}

#logo {
    grid-area: logo;
    width: 15%;
    height: auto;

}

nav {
    font-size: 16px;
    grid-area: menu;
    margin-right: 50px;
}


nav a:hover {
    border-bottom: 5px solid;
    border-bottom-color: #C49242;
}

nav a {
    font-family: 'Yeseva One', cursive;
    color: #297373;
    margin: 10px;

}

nav a:visited {
    color: #297373;
}

/* menu "points" */

.pointsMenu > img {
    width: 50px;
    height: 50px;
    display: grid;
    justify-items: center;
    margin-right: 20px;

}

h1 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
}

.pointsMenu {
    grid-area: mobileMenuIcon;
}


.active {
    display: block;
}




/* Affichage Cellier */

#ajouterBouteilleCellier {
    text-align: center;
    margin: 20px;
    border-radius: 15px;
    background-color: whitesmoke;
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s ease;
}

#ajouterBouteilleCellier:hover{
    background-color: rgba(245, 245, 245, 0.603);
    transform: scale(1.1);
}

#ajouterBouteilleCellier:active {
    background-color: black;
}

#ajouterBouteilleCellier:visited {
    background-color: whitesmoke;
}

/*  Cellier - triage */
#recherche {
    grid-area: recherche;
    max-width: 100%;
    width: 50%;
    box-sizing: border-box;
    /* overflow: auto; */
    margin: 0 auto;
    justify-content: center;
}

#choix-cellier {
    background-color: rgb(247, 221, 189);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;

}

.cellier-header {
    display: grid;
    grid-template-areas: " triage " "recherche";
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    font-size: 1em;
    background-color: whitesmoke;
    align-self: center;
   padding: 5px;
    border-radius: 10px;


}

#triage {
    grid-area: triage;
    justify-content: center;
}

/* Affichage de bouteille*/

.bouteille {
    font-size: 0.7em;
    background-color: whitesmoke;
    justify-content: center;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
}

.bouteille--img {
    align-self: center;
    display: block;
    max-width: 100%;
    width: 40%;
    height: auto;
}

.bouteille>div {
    margin-bottom: 15px;
}

.description {
    background-color: whitesmoke;
    color: #297373;
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-self: center; */
}

.voir-plus {
    display: none;
}


.listeAchat button,
.bouteille>button,
.options>button,
.modifierBouteille input[type='submit']{
    background-color: #297373;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;

}

.listeAchat button:hover,
.options>button:hover,
.nouvelleBouteille>button:hover,
.modifierBouteille input[type='submit']:hover {
    color: #297373;
    background-color: #C49242;
}

.saq a {

    color: #C49242;

}

.saq a:hover {

    color: #297373;

}

.ajouter,
.modifier {
    background-color: whitesmoke;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

form input {
    border-radius: 5px;
}


/* Page login et Signup */

#loginAccount, #formSignUp {
    padding: 10px;
    background-color: whitesmoke;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
}

#loginAccount > form, #formSignUp > form {
    justify-content: center;
}


#loginAccount input, #loginAccount label, #formSignUp input, #formSignUp label {
    margin: 10px;
}

/* Formulaire sign up */


/* Liste d'achat */

.listeAchat {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.listeAchat td > p {
    text-align: center;
    margin: 0;
}

.listeAchat-img {
    height: 50%;
    width: auto;
    margin: 5px;
}

.listeAchat th, .listeAchat td {
    padding: 10px;
}

.listeAchat th {
    background-color: #F8EEE1;
}

.listeAchat tr:hover {
    background-color: #867575;
}

.listeAchat tr:nth-child(even) {
    background-color: #F8EEE1;
}


@media all and (max-width:765px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: " logo mobileMenuIcon""menu menu";
        justify-items: end;
        padding: 15px;
        background-color: #F8EEE2;
        overflow: hidden;

    }

    nav {
        grid-area: menu;
        margin-right: 50px;
    }

    footer {
        display: none;
    }

    #logo {
        width: 50%;
        height: auto;
    }

    nav a {
        font-size: 17px;
        display: block;
    }

    nav {
        height: auto;
        position: relative;
        display: none;
        font-size: 0.9em;
    }



    .cellier>h1 {
        display: none;
    }

    .cellier-header {
        margin-top: 0;
        border-radius: 0;
        width: 100%;
    }

    .description {
        display: none;

    }

    .active {
        display: block;
    }

    .active-flex {
        display: flex;
    }

    .voir-plus {
        display: block;
    }

    .bouteille {
        max-width: 60%;
    }

}

@media only screen and (min-width:768px) {
    .pointsMenu {
        display: none;
    }

    nav img {
        width: 10%;
        height: 10%;
    }

    .bouteille>h1 {
        display: none;
    }

}

@media only screen and (min-width:909px) {
    main {
        margin: 0 auto;
        width: 800px;
    }


    nav img {
        width: 10%;
        height: 10%;
    }

    .pointsMenu {
        display: none;
    }


    .bouteille {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 30px;
        width: 800px;

    }



    img {
        margin: 10px;
    }

    .description {
        background-color: whitesmoke;
        color: #297373;
        font-weight: bold;
        font-size: 1em;
        padding: 15px;
        border-radius: 10px;
        margin-right: 15px;

    }

    .options>button,
    .nouvelleBouteille>button {

        border-radius: 10px;
        padding: 5px;
        width: 100px;
        font-size: 1em;

    }

    .options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* align-self: center; */
    }
}

/* Footer */

footer {
    position: fixed;
    ;
    bottom: 0px;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    background-color: #FFFFFF;
}

footer p {
    display: inline;
    padding-right: 50px;
    font-size: 10px;
}